@charset "utf-8";
/* CSS Document */

/* The side navigation menu */
.BIFsidenav {
  height: 100%; /* 100% Full-height */
  width: 319px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  display: inline-block;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.397);
  white-space:nowrap;
  z-index: 1;/*  Stay on top */
  top: 0px; /* Stay at the top */
  left: -250px;
  background-color: #FFF; /* Black*/
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 110px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.BIFsidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 17px;
  text-align:left;
  width: 100%;
  color: #0A053A;
  display: block;
  transition: 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* When you mouse over the navigation links, change their color */
.BIFsidenav a:hover {
  color: #090621;
}

.nav-header {
	font-size:25px;
	text-align:left;
	margin-left:10px;
	margin-bottom:10px;
	color: #0A053A;
	font-weight: 500;
}

/* Position and style the close button (top right corner) */
.BIFsidenav .BIFclosebtn {
    position: absolute;
    text-align: right;
    top: 0;
    /* margin-top: 0px; */
    /* padding-bottom: 0px; */
    padding-top: 90px;
    right: 0;
    padding-left: 0px;
    font-size: 40px;
    font-weight: 200;
    margin-left: 15px;
    width: 3100px;
    height: 27px;
    line-height: 25px;
    color: rgb(161, 161, 161);
    background-color: rgba(255, 255, 255, 1);
}

.BIFsidenav .BIFclosebtn:hover{
 color: rgb(153, 229, 234);/*#f1f1f1;*/
 text-shadow: 0px 0px 2px white;
 transition: 0.1s;
}

#main2 {
  transition: margin-left .3s;
  padding: 0px;
}
.BIFsidenvbtn {
	top:0px;
    left: 0px;
    padding-right: 0px;
    padding-top: 140px;
    border-radius: 0px 0px 5px 0px;
    font-family: Calibri;
    font-size: 14px;
    font-weight: 400;
    line-height: 6px;
    color: rgb(10, 5, 58);
    width: 100px;
    height: 100%;
    float: left;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.397);
    background-color: rgba(255, 255, 255, 1);
    filter: none;
    text-align: right;
    font-style: normal;
    /* border: 1px solid rgb(52, 55, 65); */
    position: fixed;
    z-index: 1;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .BIFsidenav {padding-top: 15px;}
  .BIFsidenav a {font-size: 18px;}
}